<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="sentFile" />
    <input type="submit" name="submit" value="Upload" />
</form>

<html>
<body style="background-color:#000000;">

    <h1><center><font color = #FFFFFF>Detecting Distracted Drivers</font></center></h1>
    <h2><center><font color = #FFFFFF>Please upload image</font></center></h2>

    <center><iframe src="https://giphy.com/embed/3o7WIB00yXujVt4WEo" width="400" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></center>

</body>
</html>